---
import Layout from '../layouts/Layout.astro';
import {getPage} from "../lib/contentful";
import {documentToHtmlString} from "@contentful/rich-text-html-renderer";

export const prerender = true;


const page = await getPage('7zRCFTUjzvri3ayMMXRhlE')

const [title, titleLastWord] = page.fields.title.split(/(\s[^\s]+)$/)
---

<Layout title={page.fields.title}>
    <main>
        <h1>{title}<span class="text-gradient">{titleLastWord}</span></h1>

        <article class="my-4" set:html={documentToHtmlString(page.fields.content)}></article>

        <a href="/about" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
            More demos
            <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>

    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>
